.random 
  color: white
  background: black
  border: 2px solid white
  border-radius: 8px
  padding: 5px 10px
  transition: .2s all
  width: 100%
  min-height: 65px
  &:hover, &:active, &:focus
    outline: none
  &_big
    border-radius: 8px 8px 0 0
  &-block
    background-color: #fff
    padding: 25px 25px 15px 25px
    height: 300px
    border-radius: 0 0 8px 8px
    h4
      text-align: center
button.random
  box-shadow: none !important
